# === CATPPUCCIN LATTE === #
background_color           #eff1f5

text_highlight_color       #df8e1d
visual_mark_color          #8c8fa1

search_highlight_color     #df8e1d
link_highlight_color       #1e66f5
synctex_highlight_color    #40a02b

highlight_color_a          #df8e1d
highlight_color_b          #40a02b
highlight_color_c          #04a5e5
highlight_color_d          #e64553
highlight_color_e          #8839ef
highlight_color_f          #d20f39
highlight_color_g          #df8e1d


custom_background_color    #eff1f5
custom_text_color          #4c4f69

ui_text_color              #4c4f69
ui_background_color        #ccd0da
ui_selected_text_color     #4c4f69
ui_selected_background_color #acb0be