# === CATPPUCCIN FRAPPÉ === #
background_color           #303446

text_highlight_color       #e5c890
visual_mark_color          #838ba7

search_highlight_color     #e5c890
link_highlight_color       #8caaee
synctex_highlight_color    #a6d189

highlight_color_a          #e5c890
highlight_color_b          #a6d189
highlight_color_c          #99d1db
highlight_color_d          #ea999c
highlight_color_e          #ca9ee6
highlight_color_f          #e78284
highlight_color_g          #e5c890


custom_background_color    #303446
custom_text_color          #c6d0f5

ui_text_color              #c6d0f5
ui_background_color        #414559
ui_selected_text_color     #c6d0f5
ui_selected_background_color #626880
